In [1]:
import pandas as pd

# Loading CSV

In [2]:
! ls /home/dsc/Data/us_dot/traffic

T100_SEGMENT_ALL_CARRIER_2014.zip  T100_SEGMENT_ALL_CARRIER_2015.zip

In [3]:
! unzip /home/dsc/Data/us_dot/traffic/T100_SEGMENT_ALL_CARRIER_2015.zip

Archive:  /home/dsc/Data/us_dot/traffic/T100_SEGMENT_ALL_CARRIER_2015.zip
  inflating: 914310910_T_T100_SEGMENT_ALL_CARRIER_2015_All.csv
  inflating: 914310910_T_T100_SEGMENT_ALL_CARRIER_ReadMe.csv
  inflating: 914310910_T_T100_SEGMENT_ALL_CARRIER_Terms.csv

In [4]:
!pwd

/home/dsc/Repositories/masterdatascience/Python

In [6]:
df = pd.read_csv('914310910_T_T100_SEGMENT_ALL_CARRIER_2015_All.csv')
df.head()

,DEPARTURES_SCHEDULED,DEPARTURES_PERFORMED,PAYLOAD,SEATS,PASSENGERS,FREIGHT,MAIL,DISTANCE,RAMP_TO_RAMP,AIR_TIME,...,AIRCRAFT_GROUP,AIRCRAFT_TYPE,AIRCRAFT_CONFIG,YEAR,QUARTER,MONTH,DISTANCE_GROUP,CLASS,DATA_SOURCE,Unnamed: 50
0,0.0,1.0,528.0,11.0,2.0,0.0,0.0,3899.0,0.0,0.0,...,6,669,1,2015,1,1,8,L,IF,NaN
1,0.0,2.0,3621.0,22.0,2.0,0.0,0.0,2589.0,0.0,0.0,...,6,669,1,2015,1,1,6,L,IF,NaN
2,0.0,1.0,2169.0,11.0,2.0,0.0,0.0,1210.0,0.0,0.0,...,6,669,1,2015,1,1,3,L,DF,NaN
3,0.0,1.0,1342.0,11.0,1.0,0.0,0.0,2316.0,0.0,0.0,...,6,669,1,2015,1,1,5,L,IF,NaN
4,0.0,1.0,275.0,11.0,1.0,0.0,0.0,1023.0,0.0,0.0,...,6,669,1,2015,1,1,3,L,DF,NaN

In [8]:
len(df)

146938

In [14]:
%%timeit
df[df['DEPARTURES_PERFORMED'] >50]['PAYLOAD'].sum()

5.72 ms ± 73.4 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

# Saving to Excel

In [17]:
df[df['DEPARTURES_PERFORMED'] >50].to_excel('out.xlsx')

# Saving to CSV

In [18]:
df.to_csv('out.csv')

In [21]:
file_as_string = df.to_csv()
file_as_string[:100]

',DEPARTURES_SCHEDULED,DEPARTURES_PERFORMED,PAYLOAD,SEATS,PASSENGERS,FREIGHT,MAIL,DISTANCE,RAMP_TO_RA'

# To Sql Database

In [22]:
import sqlite3

conn = sqlite3.connect('example.db')

In [23]:
df.to_sql('traffic',conn)

/home/dsc/anaconda3/lib/python3.6/site-packages/pandas/core/generic.py:1362: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  chunksize=chunksize, dtype=dtype)

# To dictionary and to json

In [25]:
df[:3].to_dict()

{'AIRCRAFT_CONFIG': {0: 1, 1: 1, 2: 1},
 'AIRCRAFT_GROUP': {0: 6, 1: 6, 2: 6},
 'AIRCRAFT_TYPE': {0: 669, 1: 669, 2: 669},
 'AIRLINE_ID': {0: 21407.0, 1: 21407.0, 2: 21407.0},
 'AIR_TIME': {0: 0.0, 1: 0.0, 2: 0.0},
 'CARRIER': {0: '10Q', 1: '10Q', 2: '10Q'},
 'CARRIER_GROUP': {0: 0, 1: 0, 2: 0},
 'CARRIER_GROUP_NEW': {0: 0.0, 1: 0.0, 2: 0.0},
 'CARRIER_NAME': {0: 'Swiss Air Ambulance',
  1: 'Swiss Air Ambulance',
  2: 'Swiss Air Ambulance'},
 'CLASS': {0: 'L', 1: 'L', 2: 'L'},
 'DATA_SOURCE': {0: 'IF', 1: 'IF', 2: 'DF'},
 'DEPARTURES_PERFORMED': {0: 1.0, 1: 2.0, 2: 1.0},
 'DEPARTURES_SCHEDULED': {0: 0.0, 1: 0.0, 2: 0.0},
 'DEST': {0: 'BSL', 1: 'TEB', 2: 'MFE'},
 'DEST_AIRPORT_ID': {0: 10762, 1: 15167, 2: 13256},
 'DEST_AIRPORT_SEQ_ID': {0: 1076203, 1: 1516702, 2: 1325602},
 'DEST_CITY_MARKET_ID': {0: 30762, 1: 35167, 2: 33256},
 'DEST_CITY_NAME': {0: 'Mulhouse, France',
  1: 'Teterboro, NJ',
  2: 'Mission/McAllen/Edinburg, TX'},
 'DEST_COUNTRY': {0: 'FR', 1: 'US', 2: 'US'},
 'DEST_COUNTRY_NAME': {0: 'France', 1: 'United States', 2: 'United States'},
 'DEST_STATE_ABR': {0: nan, 1: 'NJ', 2: 'TX'},
 'DEST_STATE_FIPS': {0: nan, 1: 34.0, 2: 48.0},
 'DEST_STATE_NM': {0: nan, 1: 'New Jersey', 2: 'Texas'},
 'DEST_WAC': {0: 427, 1: 21, 2: 74},
 'DISTANCE': {0: 3899.0, 1: 2589.0, 2: 1210.0},
 'DISTANCE_GROUP': {0: 8, 1: 6, 2: 3},
 'FREIGHT': {0: 0.0, 1: 0.0, 2: 0.0},
 'MAIL': {0: 0.0, 1: 0.0, 2: 0.0},
 'MONTH': {0: 1, 1: 1, 2: 1},
 'ORIGIN': {0: 'EWR', 1: 'KEF', 2: 'LAS'},
 'ORIGIN_AIRPORT_ID': {0: 11618, 1: 12651, 2: 12889},
 'ORIGIN_AIRPORT_SEQ_ID': {0: 1161802, 1: 1265101, 2: 1288903},
 'ORIGIN_CITY_MARKET_ID': {0: 31703, 1: 32651, 2: 32211},
 'ORIGIN_CITY_NAME': {0: 'Newark, NJ',
  1: 'Keflavik/Reykjavik, Iceland',
  2: 'Las Vegas, NV'},
 'ORIGIN_COUNTRY': {0: 'US', 1: 'IS', 2: 'US'},
 'ORIGIN_COUNTRY_NAME': {0: 'United States', 1: 'Iceland', 2: 'United States'},
 'ORIGIN_STATE_ABR': {0: 'NJ', 1: nan, 2: 'NV'},
 'ORIGIN_STATE_FIPS': {0: 34.0, 1: nan, 2: 32.0},
 'ORIGIN_STATE_NM': {0: 'New Jersey', 1: nan, 2: 'Nevada'},
 'ORIGIN_WAC': {0: 21, 1: 439, 2: 85},
 'PASSENGERS': {0: 2.0, 1: 2.0, 2: 2.0},
 'PAYLOAD': {0: 528.0, 1: 3621.0, 2: 2169.0},
 'QUARTER': {0: 1, 1: 1, 2: 1},
 'RAMP_TO_RAMP': {0: 0.0, 1: 0.0, 2: 0.0},
 'REGION': {0: 'I', 1: 'I', 2: 'I'},
 'SEATS': {0: 11.0, 1: 22.0, 2: 11.0},
 'UNIQUE_CARRIER': {0: '10Q', 1: '10Q', 2: '10Q'},
 'UNIQUE_CARRIER_ENTITY': {0: '71084', 1: '71084', 2: '71084'},
 'UNIQUE_CARRIER_NAME': {0: 'Swiss Air Ambulance',
  1: 'Swiss Air Ambulance',
  2: 'Swiss Air Ambulance'},
 'Unnamed: 50': {0: nan, 1: nan, 2: nan},
 'YEAR': {0: 2015, 1: 2015, 2: 2015}}

In [26]:
df[:3].to_dict(orient='rows')

[{'AIRCRAFT_CONFIG': 1,
  'AIRCRAFT_GROUP': 6,
  'AIRCRAFT_TYPE': 669,
  'AIRLINE_ID': 21407.0,
  'AIR_TIME': 0.0,
  'CARRIER': '10Q',
  'CARRIER_GROUP': 0,
  'CARRIER_GROUP_NEW': 0.0,
  'CARRIER_NAME': 'Swiss Air Ambulance',
  'CLASS': 'L',
  'DATA_SOURCE': 'IF',
  'DEPARTURES_PERFORMED': 1.0,
  'DEPARTURES_SCHEDULED': 0.0,
  'DEST': 'BSL',
  'DEST_AIRPORT_ID': 10762,
  'DEST_AIRPORT_SEQ_ID': 1076203,
  'DEST_CITY_MARKET_ID': 30762,
  'DEST_CITY_NAME': 'Mulhouse, France',
  'DEST_COUNTRY': 'FR',
  'DEST_COUNTRY_NAME': 'France',
  'DEST_STATE_ABR': nan,
  'DEST_STATE_FIPS': nan,
  'DEST_STATE_NM': nan,
  'DEST_WAC': 427,
  'DISTANCE': 3899.0,
  'DISTANCE_GROUP': 8,
  'FREIGHT': 0.0,
  'MAIL': 0.0,
  'MONTH': 1,
  'ORIGIN': 'EWR',
  'ORIGIN_AIRPORT_ID': 11618,
  'ORIGIN_AIRPORT_SEQ_ID': 1161802,
  'ORIGIN_CITY_MARKET_ID': 31703,
  'ORIGIN_CITY_NAME': 'Newark, NJ',
  'ORIGIN_COUNTRY': 'US',
  'ORIGIN_COUNTRY_NAME': 'United States',
  'ORIGIN_STATE_ABR': 'NJ',
  'ORIGIN_STATE_FIPS': 34.0,
  'ORIGIN_STATE_NM': 'New Jersey',
  'ORIGIN_WAC': 21,
  'PASSENGERS': 2.0,
  'PAYLOAD': 528.0,
  'QUARTER': 1,
  'RAMP_TO_RAMP': 0.0,
  'REGION': 'I',
  'SEATS': 11.0,
  'UNIQUE_CARRIER': '10Q',
  'UNIQUE_CARRIER_ENTITY': '71084',
  'UNIQUE_CARRIER_NAME': 'Swiss Air Ambulance',
  'Unnamed: 50': nan,
  'YEAR': 2015},
 {'AIRCRAFT_CONFIG': 1,
  'AIRCRAFT_GROUP': 6,
  'AIRCRAFT_TYPE': 669,
  'AIRLINE_ID': 21407.0,
  'AIR_TIME': 0.0,
  'CARRIER': '10Q',
  'CARRIER_GROUP': 0,
  'CARRIER_GROUP_NEW': 0.0,
  'CARRIER_NAME': 'Swiss Air Ambulance',
  'CLASS': 'L',
  'DATA_SOURCE': 'IF',
  'DEPARTURES_PERFORMED': 2.0,
  'DEPARTURES_SCHEDULED': 0.0,
  'DEST': 'TEB',
  'DEST_AIRPORT_ID': 15167,
  'DEST_AIRPORT_SEQ_ID': 1516702,
  'DEST_CITY_MARKET_ID': 35167,
  'DEST_CITY_NAME': 'Teterboro, NJ',
  'DEST_COUNTRY': 'US',
  'DEST_COUNTRY_NAME': 'United States',
  'DEST_STATE_ABR': 'NJ',
  'DEST_STATE_FIPS': 34.0,
  'DEST_STATE_NM': 'New Jersey',
  'DEST_WAC': 21,
  'DISTANCE': 2589.0,
  'DISTANCE_GROUP': 6,
  'FREIGHT': 0.0,
  'MAIL': 0.0,
  'MONTH': 1,
  'ORIGIN': 'KEF',
  'ORIGIN_AIRPORT_ID': 12651,
  'ORIGIN_AIRPORT_SEQ_ID': 1265101,
  'ORIGIN_CITY_MARKET_ID': 32651,
  'ORIGIN_CITY_NAME': 'Keflavik/Reykjavik, Iceland',
  'ORIGIN_COUNTRY': 'IS',
  'ORIGIN_COUNTRY_NAME': 'Iceland',
  'ORIGIN_STATE_ABR': nan,
  'ORIGIN_STATE_FIPS': nan,
  'ORIGIN_STATE_NM': nan,
  'ORIGIN_WAC': 439,
  'PASSENGERS': 2.0,
  'PAYLOAD': 3621.0,
  'QUARTER': 1,
  'RAMP_TO_RAMP': 0.0,
  'REGION': 'I',
  'SEATS': 22.0,
  'UNIQUE_CARRIER': '10Q',
  'UNIQUE_CARRIER_ENTITY': '71084',
  'UNIQUE_CARRIER_NAME': 'Swiss Air Ambulance',
  'Unnamed: 50': nan,
  'YEAR': 2015},
 {'AIRCRAFT_CONFIG': 1,
  'AIRCRAFT_GROUP': 6,
  'AIRCRAFT_TYPE': 669,
  'AIRLINE_ID': 21407.0,
  'AIR_TIME': 0.0,
  'CARRIER': '10Q',
  'CARRIER_GROUP': 0,
  'CARRIER_GROUP_NEW': 0.0,
  'CARRIER_NAME': 'Swiss Air Ambulance',
  'CLASS': 'L',
  'DATA_SOURCE': 'DF',
  'DEPARTURES_PERFORMED': 1.0,
  'DEPARTURES_SCHEDULED': 0.0,
  'DEST': 'MFE',
  'DEST_AIRPORT_ID': 13256,
  'DEST_AIRPORT_SEQ_ID': 1325602,
  'DEST_CITY_MARKET_ID': 33256,
  'DEST_CITY_NAME': 'Mission/McAllen/Edinburg, TX',
  'DEST_COUNTRY': 'US',
  'DEST_COUNTRY_NAME': 'United States',
  'DEST_STATE_ABR': 'TX',
  'DEST_STATE_FIPS': 48.0,
  'DEST_STATE_NM': 'Texas',
  'DEST_WAC': 74,
  'DISTANCE': 1210.0,
  'DISTANCE_GROUP': 3,
  'FREIGHT': 0.0,
  'MAIL': 0.0,
  'MONTH': 1,
  'ORIGIN': 'LAS',
  'ORIGIN_AIRPORT_ID': 12889,
  'ORIGIN_AIRPORT_SEQ_ID': 1288903,
  'ORIGIN_CITY_MARKET_ID': 32211,
  'ORIGIN_CITY_NAME': 'Las Vegas, NV',
  'ORIGIN_COUNTRY': 'US',
  'ORIGIN_COUNTRY_NAME': 'United States',
  'ORIGIN_STATE_ABR': 'NV',
  'ORIGIN_STATE_FIPS': 32.0,
  'ORIGIN_STATE_NM': 'Nevada',
  'ORIGIN_WAC': 85,
  'PASSENGERS': 2.0,
  'PAYLOAD': 2169.0,
  'QUARTER': 1,
  'RAMP_TO_RAMP': 0.0,
  'REGION': 'I',
  'SEATS': 11.0,
  'UNIQUE_CARRIER': '10Q',
  'UNIQUE_CARRIER_ENTITY': '71084',
  'UNIQUE_CARRIER_NAME': 'Swiss Air Ambulance',
  'Unnamed: 50': nan,
  'YEAR': 2015}]

In [27]:
df[:3].to_json()

'{"DEPARTURES_SCHEDULED":{"0":0.0,"1":0.0,"2":0.0},"DEPARTURES_PERFORMED":{"0":1.0,"1":2.0,"2":1.0},"PAYLOAD":{"0":528.0,"1":3621.0,"2":2169.0},"SEATS":{"0":11.0,"1":22.0,"2":11.0},"PASSENGERS":{"0":2.0,"1":2.0,"2":2.0},"FREIGHT":{"0":0.0,"1":0.0,"2":0.0},"MAIL":{"0":0.0,"1":0.0,"2":0.0},"DISTANCE":{"0":3899.0,"1":2589.0,"2":1210.0},"RAMP_TO_RAMP":{"0":0.0,"1":0.0,"2":0.0},"AIR_TIME":{"0":0.0,"1":0.0,"2":0.0},"UNIQUE_CARRIER":{"0":"10Q","1":"10Q","2":"10Q"},"AIRLINE_ID":{"0":21407.0,"1":21407.0,"2":21407.0},"UNIQUE_CARRIER_NAME":{"0":"Swiss Air Ambulance","1":"Swiss Air Ambulance","2":"Swiss Air Ambulance"},"UNIQUE_CARRIER_ENTITY":{"0":"71084","1":"71084","2":"71084"},"REGION":{"0":"I","1":"I","2":"I"},"CARRIER":{"0":"10Q","1":"10Q","2":"10Q"},"CARRIER_NAME":{"0":"Swiss Air Ambulance","1":"Swiss Air Ambulance","2":"Swiss Air Ambulance"},"CARRIER_GROUP":{"0":0,"1":0,"2":0},"CARRIER_GROUP_NEW":{"0":0.0,"1":0.0,"2":0.0},"ORIGIN_AIRPORT_ID":{"0":11618,"1":12651,"2":12889},"ORIGIN_AIRPORT_SEQ_ID":{"0":1161802,"1":1265101,"2":1288903},"ORIGIN_CITY_MARKET_ID":{"0":31703,"1":32651,"2":32211},"ORIGIN":{"0":"EWR","1":"KEF","2":"LAS"},"ORIGIN_CITY_NAME":{"0":"Newark, NJ","1":"Keflavik\\/Reykjavik, Iceland","2":"Las Vegas, NV"},"ORIGIN_STATE_ABR":{"0":"NJ","1":null,"2":"NV"},"ORIGIN_STATE_FIPS":{"0":34.0,"1":null,"2":32.0},"ORIGIN_STATE_NM":{"0":"New Jersey","1":null,"2":"Nevada"},"ORIGIN_COUNTRY":{"0":"US","1":"IS","2":"US"},"ORIGIN_COUNTRY_NAME":{"0":"United States","1":"Iceland","2":"United States"},"ORIGIN_WAC":{"0":21,"1":439,"2":85},"DEST_AIRPORT_ID":{"0":10762,"1":15167,"2":13256},"DEST_AIRPORT_SEQ_ID":{"0":1076203,"1":1516702,"2":1325602},"DEST_CITY_MARKET_ID":{"0":30762,"1":35167,"2":33256},"DEST":{"0":"BSL","1":"TEB","2":"MFE"},"DEST_CITY_NAME":{"0":"Mulhouse, France","1":"Teterboro, NJ","2":"Mission\\/McAllen\\/Edinburg, TX"},"DEST_STATE_ABR":{"0":null,"1":"NJ","2":"TX"},"DEST_STATE_FIPS":{"0":null,"1":34.0,"2":48.0},"DEST_STATE_NM":{"0":null,"1":"New Jersey","2":"Texas"},"DEST_COUNTRY":{"0":"FR","1":"US","2":"US"},"DEST_COUNTRY_NAME":{"0":"France","1":"United States","2":"United States"},"DEST_WAC":{"0":427,"1":21,"2":74},"AIRCRAFT_GROUP":{"0":6,"1":6,"2":6},"AIRCRAFT_TYPE":{"0":669,"1":669,"2":669},"AIRCRAFT_CONFIG":{"0":1,"1":1,"2":1},"YEAR":{"0":2015,"1":2015,"2":2015},"QUARTER":{"0":1,"1":1,"2":1},"MONTH":{"0":1,"1":1,"2":1},"DISTANCE_GROUP":{"0":8,"1":6,"2":3},"CLASS":{"0":"L","1":"L","2":"L"},"DATA_SOURCE":{"0":"IF","1":"IF","2":"DF"},"Unnamed: 50":{"0":null,"1":null,"2":null}}'

json is the format that javascript uses for storing objects

# Reading Excel

In [36]:
df2 = pd.read_excel('out.xls')
df2.head()

,DEPARTURES_SCHEDULED,DEPARTURES_PERFORMED,PAYLOAD,SEATS,PASSENGERS,FREIGHT,MAIL,DISTANCE,RAMP_TO_RAMP,AIR_TIME,...,AIRCRAFT_GROUP,AIRCRAFT_TYPE,AIRCRAFT_CONFIG,YEAR,QUARTER,MONTH,DISTANCE_GROUP,CLASS,DATA_SOURCE,Unnamed: 50
37,0,61,5365411,18353,16933,571685,0,4395,0,0,...,6,627,1,2015,1,1,9,F,IF,NaN
42,0,61,5365411,18353,16827,1274568,0,4395,0,0,...,6,627,1,2015,1,1,9,F,IF,NaN
158,0,51,2706103,17384,13517,0,0,2002,0,0,...,6,627,1,2015,1,1,5,F,IF,NaN
159,0,51,2751949,17384,13746,0,0,2002,0,0,...,6,627,1,2015,1,1,5,F,IF,NaN
181,0,62,9292527,20584,16739,1505486,0,6504,0,0,...,6,637,1,2015,1,1,14,F,IF,NaN

In [45]:
path = '/home/dsc/Downloads/01_ ACCIDENTES POR TIPO EN  DISTRITOS.xls'
accidentes = pd.read_excel(path, index_col=0,skiprows = 7,skip_footer=1,parse_cols = 'A:K')
accidentes.head(10)

,COLISIÓN DOBLE,COLISIÓN MÚLTIPLE,CHOQUE CON OBJETO FIJO,ATROPELLO,VUELCO,CAÍDA MOTOCICLETA,CAÍDA CICLOMOTOR,CAÍDA BICICLETA,CAÍDA VIAJERO BUS,OTRAS CAUSAS
DISTRITO_ACCIDENTE,,,,,,,,,,
ARGANZUELA,389,54,126,75,9.0,43,9,4.0,5,8
BARAJAS,89,6,53,21,NaN,12,2,1.0,2,2
CARABANCHEL,375,44,171,137,8.0,36,13,6.0,9,8
CENTRO,514,55,171,143,NaN,61,12,3.0,10,12
CHAMARTIN,494,70,133,92,10.0,72,22,2.0,6,7
CHAMBERI,414,35,87,87,3.0,51,12,4.0,4,5
CIUDAD LINEAL,398,64,124,101,3.0,57,17,5.0,4,4
FUENCARRAL-EL PARDO,321,47,151,78,11.0,34,16,7.0,2,8
HORTALEZA,215,16,109,58,3.0,29,13,7.0,4,4
LATINA,298,40,134,85,7.0,24,10,2.0,9,11

#### Exercise: Play with formats

In [3]:
import requests
multas_response = requests.get('http://datos.madrid.es/egob/catalogo/210104-170-multas-circulacion-detalle.csv')
multas_path = 'multas_2017_09.csv'
multas_file = open(multas_path,'wb')
multas_file.write(multas_response.content)
multas_file.close()

In [2]:
multas_path = 'multas_2017_09.csv'
df_multas = pd.read_csv(multas_path)

ParserError: Error tokenizing data. C error: Expected 3 fields in line 46859, saw 4

It is wrong made. There are four columns in line 46859

In [5]:
! wc -l {multas_path}

248411 multas_2017_09.csv

In [6]:
! head {multas_path}

The separator is ; , apart from the spaces, and the codification is UTF-8

In [3]:
df_multas = pd.read_csv(multas_path, sep=';',encoding='latin-1')
df_multas.head()

,CALIFICACION,LUGAR,MES,ANIO,HORA,IMP_BOL,DESCUENTO,PUNTOS,DENUNCIANTE,HECHO-BOL,VEL_LIMITE,VEL_CIRCULA,COORDENADA_X,COORDENADA_Y
0,GRAVE,MARIA BARRIENTOS 4,9,2017,19.15,200.0,SI,0,POLICIA MUNICIPAL,"ESTACIONAR SOBRE O JUNTO A REFUGIO, ISLETA, ME...",,,,
1,MUY GRAVE,AV MEMORIA FR 46,9,2017,6.00,500.0,SI,4,POLICIA MUNICIPAL,CONDUCIR CON UNA TASA DE ALCOHOLEMIA NO PERMIT...,,,,
2,LEVE,CL CARLOS LATORRE 15,9,2017,10.56,90.0,SI,0,SER,"ESTACIONAR, SIN LA CORRESPONDIENTE AUTORIZACIÓ...",,,,
3,GRAVE,"KM 23,9 M-30 CALZADA 2",9,2017,18.43,100.0,SI,0,POLICIA MUNICIPAL,SOBREPASAR LA VELOCIDADMÁXIMA EN VÍAS LIMITADA...,90,101,,
4,MUY GRAVE,AV MEMORIA FR 46,9,2017,5.28,500.0,SI,4,POLICIA MUNICIPAL,CONDUCIR CON UNA TASA DE ALCOHOLEMIA NO PERMIT...,,,,

In [5]:
df_multas['LUGAR'].loc[4]

'AV MEMORIA FR 46                        '

In [7]:
df_multas[df_multas['LUGAR'] == 'AV MEMORIA FR 46                        ']

,CALIFICACION,LUGAR,MES,ANIO,HORA,IMP_BOL,DESCUENTO,PUNTOS,DENUNCIANTE,HECHO-BOL,VEL_LIMITE,VEL_CIRCULA,COORDENADA_X,COORDENADA_Y
1,MUY GRAVE,AV MEMORIA FR 46,9,2017,6.00,500.0,SI,4,POLICIA MUNICIPAL,CONDUCIR CON UNA TASA DE ALCOHOLEMIA NO PERMIT...,,,,
4,MUY GRAVE,AV MEMORIA FR 46,9,2017,5.28,500.0,SI,4,POLICIA MUNICIPAL,CONDUCIR CON UNA TASA DE ALCOHOLEMIA NO PERMIT...,,,,

In [11]:
df_multas['IMP_BOL'].mean()

100.04955517088683

In [ ]:
df_multas['IMP_BOL'].sum()

#### Exercise

Calculate the amount that the ciity hall took in, after discount. Assume that the discount is 50%, for each line that has 'SI' in the column 'DESCUENTO'

In [7]:
df_multas['DESCUENTO_PCT'] = .5* (df_multas['DESCUENTO'] == 'SI')
df_multas['DESCUENTO_PCT'].head()

0    0.5
1    0.5
2    0.5
3    0.5
4    0.5
Name: DESCUENTO_PCT, dtype: float64

In [8]:
df_multas['IMPORTE_FINAL'] = df_multas['IMP_BOL'] * (1 - df_multas['DESCUENTO_PCT'])

#### Exercise

Consolidate the excel into one DataFrame: you will need to create a 'YEAR' column. Think how you can iterate through all the DataFrames. Think also where you can take the valueof 'YEAR' from.

For downloading something from internet:

In [42]:
import requests

response = requests.get('http://datos.madrid.es/egob/catalogo/207831-0-accidentes-trafico.xls')
out = open('accidentes.xls','wb')
out.write(response.content)
out.close

# Reading mysql database

In [46]:
conn

In [48]:
pd.read_sql_query('SELECT * FROM traffic WHERE SEATS > 160', conn)

,index,DEPARTURES_SCHEDULED,DEPARTURES_PERFORMED,PAYLOAD,SEATS,PASSENGERS,FREIGHT,MAIL,DISTANCE,RAMP_TO_RAMP,...,AIRCRAFT_GROUP,AIRCRAFT_TYPE,AIRCRAFT_CONFIG,YEAR,QUARTER,MONTH,DISTANCE_GROUP,CLASS,DATA_SOURCE,Unnamed: 50
0,14,0.0,9.0,562962.0,2548.0,2154.0,0.0,0.0,2188.0,0.0,...,6,696,1,2015,1,1,5,F,IF,None
1,15,0.0,18.0,1237995.0,5159.0,4905.0,0.0,0.0,1873.0,0.0,...,6,696,1,2015,1,1,4,F,IF,None
2,16,0.0,9.0,565173.0,2595.0,2156.0,0.0,0.0,2188.0,0.0,...,6,696,1,2015,1,1,5,F,IF,None
3,17,0.0,18.0,1237436.0,5109.0,4855.0,0.0,0.0,1873.0,0.0,...,6,696,1,2015,1,1,4,F,IF,None
4,18,0.0,4.0,404800.0,1260.0,558.0,0.0,0.0,5713.0,0.0,...,6,696,1,2015,1,1,12,F,IF,None
5,19,0.0,9.0,910800.0,2835.0,1666.0,2882.0,0.0,4879.0,0.0,...,6,696,1,2015,1,1,10,F,IF,None
6,20,0.0,4.0,404800.0,1260.0,833.0,0.0,0.0,5713.0,0.0,...,6,696,1,2015,1,1,12,F,IF,None
7,21,0.0,9.0,910800.0,2835.0,1758.0,39954.0,0.0,4879.0,0.0,...,6,696,1,2015,1,1,10,F,IF,None
8,22,0.0,23.0,2345933.0,6793.0,4946.0,454689.0,0.0,3749.0,0.0,...,6,696,1,2015,1,1,8,F,IF,None
9,23,0.0,29.0,2557427.0,8525.0,7094.0,621786.0,0.0,4733.0,0.0,...,6,696,1,2015,1,1,10,F,IF,None
10,24,0.0,12.0,1049765.0,3569.0,2435.0,224246.0,0.0,4757.0,0.0,...,6,696,1,2015,1,1,10,F,IF,None
11,25,0.0,23.0,2401058.0,6793.0,5503.0,647284.0,0.0,3749.0,0.0,...,6,696,1,2015,1,1,8,F,IF,None
12,26,0.0,21.0,2199395.0,6180.0,4683.0,573408.0,0.0,3968.0,0.0,...,6,696,1,2015,1,1,8,F,IF,None
13,27,0.0,29.0,3020211.0,8530.0,7791.0,455231.0,0.0,4733.0,0.0,...,6,696,1,2015,1,1,10,F,IF,None
14,28,0.0,22.0,2294431.0,6480.0,5596.0,507333.0,0.0,4974.0,0.0,...,6,696,1,2015,1,1,10,F,IF,None
15,29,0.0,14.0,1466137.0,4130.0,2468.0,249731.0,0.0,4413.0,0.0,...,6,696,1,2015,1,1,9,F,IF,None
16,30,0.0,12.0,1250181.0,3569.0,2770.0,102414.0,0.0,4757.0,0.0,...,6,696,1,2015,1,1,10,F,IF,None
17,31,0.0,21.0,2146910.0,6180.0,4639.0,430676.0,0.0,3968.0,0.0,...,6,696,1,2015,1,1,8,F,IF,None
18,32,0.0,22.0,1924391.0,6485.0,5006.0,286066.0,0.0,4974.0,0.0,...,6,696,1,2015,1,1,10,F,IF,None
19,33,0.0,14.0,1435498.0,4130.0,2791.0,310264.0,0.0,4413.0,0.0,...,6,696,1,2015,1,1,9,F,IF,None
20,37,0.0,61.0,5365411.0,18353.0,16933.0,571685.0,0.0,4395.0,0.0,...,6,627,1,2015,1,1,9,F,IF,None
21,40,0.0,27.0,2251555.0,7074.0,5876.0,435222.0,0.0,3449.0,0.0,...,6,627,1,2015,1,1,7,F,IF,None
22,41,0.0,2.0,225601.0,606.0,495.0,17604.0,0.0,3449.0,0.0,...,6,637,1,2015,1,1,7,F,IF,None
23,42,0.0,61.0,5365411.0,18353.0,16827.0,1274568.0,0.0,4395.0,0.0,...,6,627,1,2015,1,1,9,F,IF,None
24,43,0.0,28.0,2333124.0,7321.0,6217.0,501391.0,0.0,3449.0,0.0,...,6,627,1,2015,1,1,7,F,IF,None
25,44,0.0,2.0,225601.0,606.0,573.0,73366.0,0.0,3449.0,0.0,...,6,637,1,2015,1,1,7,F,IF,None
26,45,0.0,1.0,83875.0,275.0,264.0,7383.0,0.0,3937.0,0.0,...,8,873,1,2015,1,1,8,F,IF,None
27,46,0.0,2.0,138283.0,416.0,391.0,27720.0,0.0,3962.0,0.0,...,6,696,1,2015,1,1,8,F,IF,None
28,47,0.0,20.0,1677500.0,5500.0,4838.0,365198.0,0.0,3962.0,0.0,...,8,873,1,2015,1,1,8,F,IF,None
29,48,0.0,5.0,407847.0,1235.0,1089.0,95256.0,0.0,3861.0,0.0,...,6,627,1,2015,1,1,8,F,IF,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
90109,146908,522.0,522.0,16314400.0,63611.0,51439.0,98011.0,0.0,102.0,21061.0,...,6,608,1,2015,1,3,1,F,DU,None
90110,146909,525.0,518.0,932400.0,4662.0,3167.0,0.0,0.0,96.0,24864.0,...,1,125,1,2015,1,3,1,F,IU,None
90111,146910,525.0,524.0,16386600.0,63537.0,44702.0,92078.0,0.0,102.0,21463.0,...,6,608,1,2015,1,1,1,F,DU,None
90112,146911,526.0,525.0,16411100.0,63590.0,49097.0,30821.0,0.0,102.0,18853.0,...,6,608,1,2015,1,1,1,F,DU,None
90113,146912,531.0,531.0,637200.0,2976.0,1863.0,157.0,0.0,11.0,6669.0,...,0,79,1,2015,1,2,1,F,DU,None
90114,146913,535.0,534.0,16690700.0,64497.0,53062.0,57292.0,0.0,163.0,25798.0,...,6,608,1,2015,1,2,1,F,DU,None
90115,146914,538.0,535.0,16727800.0,64735.0,52773.0,74516.0,0.0,163.0,24712.0,...,6,608,1,2015,1,2,1,F,DU,None
90116,146915,540.0,538.0,16820600.0,66329.0,52007.0,73443.0,0.0,163.0,24487.0,...,6,608,1,2015,2,4,1,F,DU,None
90117,146916,540.0,540.0,16886100.0,66610.0,49227.0,82500.0,0.0,163.0,24569.0,...,6,608,1,2015,2,4,1,F,DU,None
90118,146917,563.0,563.0,17612200.0,68584.0,58241.0,82918.0,0.0,163.0,25896.0,...,6,608,1,2015,1,3,1,F,DU,None
90119,146918,565.0,565.0,17672100.0,68765.0,57892.0,92282.0,0.0,163.0,26134.0,...,6,608,1,2015,1,3,1,F,DU,None
90120,146919,581.0,580.0,18142300.0,70285.0,51837.0,82410.0,0.0,163.0,26805.0,...,6,608,1,2015,1,1,1,F,DU,None
90121,146920,586.0,584.0,18261300.0,70702.0,56704.0,63820.0,0.0,163.0,27433.0,...,6,608,1,2015,1,1,1,F,DU,None
90122,146921,613.0,603.0,10733400.0,45828.0,37708.0,19396.0,0.0,129.0,28945.0,...,4,482,1,2015,1,2,1,F,DU,None
90123,146922,613.0,605.0,10769000.0,45980.0,37519.0,11802.0,0.0,129.0,26704.0,...,4,482,1,2015,1,2,1,F,DU,None
90124,146923,648.0,23.0,4907970.0,439.0,0.0,1094446.0,151.0,330.0,1506.0,...,6,625,2,2015,1,3,1,G,DU,None
90125,146924,668.0,661.0,11765800.0,50236.0,38845.0,15019.0,0.0,129.0,32547.0,...,4,482,1,2015,1,1,1,F,DU,None
90126,146925,674.0,664.0,11819200.0,50464.0,39168.0,15244.0,0.0,129.0,30158.0,...,4,482,1,2015,1,1,1,F,DU,None
90127,146926,732.0,731.0,22832200.0,89768.0,67710.0,149891.0,0.0,100.0,29449.0,...,6,608,1,2015,2,4,1,F,DU,None
90128,146927,732.0,728.0,22741700.0,89409.0,68857.0,89972.0,0.0,100.0,27076.0,...,6,608,1,2015,2,4,1,F,DU,None
90129,146928,741.0,740.0,23118800.0,89280.0,68943.0,78235.0,0.0,100.0,30119.0,...,6,608,1,2015,1,2,1,F,DU,None
90130,146929,742.0,741.0,23148900.0,89348.0,68441.0,130509.0,0.0,100.0,29662.0,...,6,608,1,2015,1,2,1,F,DU,None
90131,146930,743.0,726.0,12922800.0,55176.0,43652.0,19569.0,0.0,129.0,34122.0,...,4,482,1,2015,2,4,1,F,DU,None
90132,146931,745.0,732.0,13029600.0,55632.0,43894.0,13763.0,0.0,129.0,32712.0,...,4,482,1,2015,2,4,1,F,DU,None
90133,146932,752.0,727.0,12940600.0,55252.0,44565.0,17728.0,0.0,129.0,32687.0,...,4,482,1,2015,1,3,1,F,DU,None
90134,146933,753.0,729.0,12976200.0,55404.0,44718.0,19043.0,0.0,129.0,34735.0,...,4,482,1,2015,1,3,1,F,DU,None
90135,146934,771.0,766.0,23919200.0,92783.0,73599.0,81189.0,0.0,100.0,29043.0,...,6,608,1,2015,1,3,1,F,DU,None
90136,146935,772.0,772.0,24101700.0,93441.0,72852.0,142730.0,0.0,100.0,31216.0,...,6,608,1,2015,1,3,1,F,DU,None
90137,146936,820.0,815.0,25438100.0,98355.0,70117.0,143209.0,0.0,100.0,32403.0,...,6,608,1,2015,1,1,1,F,DU,None
90138,146937,822.0,814.0,25423500.0,98382.0,75216.0,82020.0,0.0,100.0,32035.0,...,6,608,1,2015,1,1,1,F,DU,None